<header class="header">

    <div class="header__inner">
        <a class="logo" href="https://maxuiux.github.io/portfolio/" tabindex="1" title="© maxuiux">
            <svg>
                <use xlink:href="img/sprite.svg#logo"></use>
            </svg>
        </a>
        <a class="brand" href="https://github.com/maxuiux/drag-dots" tabindex="2" title="© copyright maxuiux drag-dots">
            <svg>
                <use xlink:href="img/sprite.svg#logo-drag-dots2"></use>
            </svg>
        </a>
        <a class="boosty" href="https://boosty.to/maxuiux" tabindex="3" title="Support Project">
            <img src="img/sprite.svg#boosty-logo" alt="">
        </a>
    </div>

</header>